/* Superfish styles */

.sf-menu, .sf-menu * {
    margin: 0;
    padding: 0;
    list-style: none
}
.sf-menu li {
    position: relative
}
.sf-menu ul {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    z-index: 99
}
.sf-menu a, .sf-menu li.sfHover>ul, .sf-menu li:hover>ul {
    display: block
}
.sf-menu>li {
    float: left
}
.sf-menu a {
    position: relative
}
.sf-menu ul ul {
    top: 0;
    left: 100%
}
/*Animation*/

@-webkit-keyframes slideInDown {
    from {
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        visibility: visible
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}
@keyframes slideInDown {
    from {
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        visibility: visible
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}
.slideInDown {
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: slideInDown;
    animation-name: slideInDown
}
.site-brand img {
    max-width: 160px;
    height: auto;
}
.nav-top .nav a {
    color: #0f0f0f;
    font-size: 12px;
    letter-spacing: 1px;
    padding: 4px 10px;
}
.site-header__top {
    padding-top: 15px;
}
.nav-primary a {
    padding: 20px 10px;
    color: #2fa3dc;
}
.site-haeder__main {
    background: #fff;
}
.site-header__main .row {
    position: relative;
}
.site-header__main.sticky {
    position: fixed;
    width: 100%;
    z-index: 20;
    background: white;
    top: 0;
}
.sticky .site-brand {
    position: absolute;
    left: 0;
}
.sticky .site-header__main--aa-logo {
    position: relative;
    background: #fff;
    height: 63px;
    width: 160px;
}
.sticky .site-header__main--aa-logo:before, .sticky .site-header__main--aa-logo:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 100%;
    border-right: 28px solid transparent;
}
.sticky .site-header__main--aa-logo:after {
    border-bottom: none;
    bottom: auto;
    top: 100%;
    border-top: 28px solid white;
}
.sticky .site-brand img {
    padding: 0;
    position: absolute;
    z-index: 20;
    max-width: 114px;
    left: 14px;
    top: 9px;
}
.site-header .block-social {
    width: 135px;
}
.site-header .block-social a {
    color: #cc0066;
    display: inline-block;
    font-size: 23px;
    padding: 14px 10px;
}
.site-header .block-social a:last-of-type {
    padding: 14px 0px 14px 10px;
}
.footer-tweets ul, .site-footer .widget_nav_menu ul {
    list-style: none;
    padding: 0;
}
.footer-tweets a {
    color: #2fa3dc;
}
p.twit-content {
    font-size: 11px;
    line-height: 18px;
    color: #fff;
}
.site-footer .widget_nav_menu a {
    color: #fff;
    text-transform: uppercase;
}
.site-footer .widget_nav_menu li {
    margin-bottom: 7px;
}
.site-header__top--apprenticeship-logo img {
    max-width: 100px;
    height: auto;
}
.slicknav_menu {
    display: none;
}
@media screen and (max-width: 768px) {
    /* #menu is the original menu */
    .nav-primary .nav {
        display: none;
    }
    .slicknav_menu {
        display: block;
    }
    .site-header__main--aa-logo {
        position: relative;
        background: #fff;
        height: 63px;
        width: 160px;
    }
    .site-header__main--aa-logo:before, .site-header__main--aa-logo:after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 100%;
        border-right: 28px solid transparent;
    }
    .site-header__main--aa-logo:after {
        border-bottom: none;
        bottom: auto;
        top: 100%;
        border-top: 28px solid white;
    }
    .site-brand img {
        padding: 0;
        position: absolute;
        z-index: 20;
        max-width: 114px;
        left: 14px;
        top: 9px;
    }
    .site-header__top {
        padding-top: 0;
    }
}
/*!
 * SlickNav Responsive Mobile Menu v1.0.3
 * (c) 2015 Josh Cope
 * licensed under MIT
 */

.slicknav_btn {
    position: relative;
    display: block;
    vertical-align: middle;
    float: right;
    padding: 0.438em 0.625em 0.438em 0.625em;
    line-height: 1.125em;
    cursor: pointer;
}
.slicknav_btn .slicknav_icon-bar+.slicknav_icon-bar {
    margin-top: 0.188em;
}
.slicknav_menu {
    *zoom: 1;
}
.slicknav_menu .slicknav_menutxt {
    display: block;
    line-height: 1.188em;
    float: left;
    font-weight: bold;
    letter-spacing: 2px;
}
.slicknav_menu .slicknav_icon {
    float: left;
    margin: 0.188em 0 0 0.438em;
}
.slicknav_menu .slicknav_no-text {
    margin: 0;
}
.slicknav_menu .slicknav_icon-bar {
    display: block;
    width: 22px;
    height: 3px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.slicknav_menu:before {
    content: " ";
    display: table;
}
.slicknav_menu:after {
    content: " ";
    display: table;
    clear: both;
}
.slicknav_nav {
    clear: both;
}
.slicknav_nav ul {
    display: block;
}
.slicknav_nav li {
    display: block;
}
.slicknav_nav .slicknav_arrow {
    font-size: 0.8em;
    margin: 0 0 0 0.4em;
}
.slicknav_nav .slicknav_item {
    cursor: pointer;
}
.slicknav_nav .slicknav_item a {
    display: inline;
}
.slicknav_nav .slicknav_row {
    display: block;
}
.slicknav_nav .slicknav_parent-link a {
    display: inline;
}
.slicknav_brand {
    float: left;
}
.slicknav_menu {
    font-size: 16px;
    box-sizing: border-box;
    background: #fff;
    padding: 5px;
}
.slicknav_menu * {
    box-sizing: border-box;
}
.slicknav_menu .slicknav_icon-bar {
    background-color: #cc0066;
}
a.slicknav_btn {
    margin: 5px 5px 6px;
    text-decoration: none;
    padding: 13px 10px;
}
.slicknav_nav {
    margin: 0;
    padding: 0;
    font-size: 0.875em;
    list-style: none;
    height: 100vh;
    overflow: hidden;
    top: 30px;
    position: relative;
}
.slicknav_nav ul {
    list-style: none;
    overflow: hidden;
    padding: 0;
    margin: 0;
}
.slicknav_nav li a:not(.btn) {
    padding: 8px 10px;
    margin: 2px 5px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 15px;
    text-decoration: none;
    border-bottom: 1px solid #eaeaea;
    display: block;
    letter-spacing: 1px;
}

.slicknav_nav a.slicknav_row {
    padding: 0;
    margin: 2px 5px;
    border-bottom: 0;
    position: relative;
    padding-right: 25px;
}
.slicknav_nav a.slicknav_row > a {
	border-bottom: 0;
	padding: 0;
	padding-right: 25px;
}
.slicknav_arrow {
    position: absolute;
    right: 7px;
    top: 13px;
}
.slicknav_nav li:last-of-type a {
    border-bottom: 0;
}
.slicknav_nav .slicknav_txtnode {
    margin-left: 15px;
}
.slicknav_nav .slicknav_item a {
    padding: 0;
    margin: 0;
}
.slicknav_nav .slicknav_parent-link a {
    padding: 0;
    margin: 0;
}
.slicknav_nav .nav-top {
    float: none;
    display: block;
}
.slicknav_nav .nav-top .nav, .slicknav_nav .nav-top .dib {
    display: block;
}
.slicknav_nav .nav-top li {
    float: none;
}
.slicknav_nav .block-social {
    width: 100%;
}
.slicknav_nav .btn {
    width: calc(50% - 10px);
    margin-right: 0;
    color: #fff;
    font-size: 16px;
    margin-top: 15px;
}
.slicknav_nav .menu-item-has-children .sub-menu a {
    font-weight: normal;
    font-size: 13px;
}